@import '../../index.scss';

* {
  font-family: $fontFamily;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  gap: 10px;
}

.mint-page {
  &__nav {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    margin-bottom: 80px;
    background: #151515;
    height: 60px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    padding: 0 60px;

    &-center-button {
      font-size: 24px;
      line-height: 27px;
      letter-spacing: 0.035em;
      text-transform: uppercase;
      color: $colorText2;
      background-color: #151515;
      border: none;
      margin: 0 auto;
    }

    &-connect-wallet {
      width: 300px;
      height: 40px;
      background: #2df30d;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 40px 0px;
      color: black;
      text-transform: uppercase;
      cursor: pointer;
      border: none;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.035em;
      transition: all 0.15s ease-in-out;

      &:hover {
        background: #16a800;
      }
    }

    &:hover {
      background-color: rgba(0, 0, 0, 1);
    }

    p {
      color: white;
    }
  }

  &__background-photo {
    background: no-repeat center/100% url('../../images/background.png');
    background-position: top;
    background-attachment: fixed;
  }

  &__dark-bg {
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  &__button-wrapper {
    display: flex;
    justify-content: center;

    .button {
      margin: 100px 0px 80px;
      background: none;
      color: $colorText;
      text-transform: uppercase;
      box-shadow: 0px 4px 8px 4px #2fe212;
      border-radius: 40px 0px;
      width: 60%;
      height: 38px;
      font-size: 20px;
      line-height: 23px;
      border: none;
      cursor: pointer;
      transition: all 0.15s ease-in-out;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }

  &__text-wrapper {
    background-color: rgba(9, 65, 0, 0.5);
  }

  &__text {
    color: #f8f1f1;
    font-size: 20px;
    line-height: 30px;
    padding: 30px 170px;
  }

  &__balances {
    width: 100%;

    &-text {
      color: #ffffff;
      font-size: 20px;
      padding: 20px 0;
      margin: 0 auto;
    }

    &-bg {
      background: rgb(7, 7, 7, 0.5);
      width: 100%;
      margin-bottom: 30px;
      flex-direction: column;
      display: flex;
      justify-content: center;
      padding-bottom: 35px;
    }

    &-container {
      width: 1280px;
      height: 102px;
      border: 1px solid rgb(47, 226, 18, 0.4);
      border-radius: 60px 0px;
      margin: auto;
      padding: 31px 0;
    }

    &-currency-amount {
      width: 100%;
      height: 29px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgb(0, 0, 0, 0.4);

      p {
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.035em;
        color: white;
      }
    }

    &-text-wrapper {
      display: flex;
      width: 50%;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__nfts {
    margin: 60px 0;

    &-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      gap: 30px;
    }
  }

  &__input-wrapper {
    display: flex;
    justify-content: center;
    gap: 125px;
    margin-top: 100px;
  }

  &__select,
  &__input,
  &__input-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
  }
  &__input {
    input {
      width: 300px;
      background: transparent;
      height: 40px;
      border: 1px solid #2fe212;
      border-radius: 40px 0px;
      letter-spacing: 0.035em;
      color: #ffffff;
      font-size: 20px;
      padding: 10px 25px;
      cursor: pointer;
      position: relative;

      &:focus {
        border: 1px solid #2fe212;
        outline: none;
      }
    }
  }

  &__input-text {
    margin-top: 30px;
    align-items: center;
  }

  &__donate-btn {
    border: 1px solid #2df30d;
    border-radius: 40px 0px;
    width: 300px;
    height: 40px;
    background: none;
    color: #f8f1f1;
    text-align: center;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 23px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
  }
}

.green-line {
  opacity: 0.2;
  border: 1px solid #2fe212;

  &-vertical {
    border-left: 1px solid #2fe212;
    height: 100vh;
  }
}

.input-text {
  color: #ffffff;
  letter-spacing: 0.035em;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 5px;
}

.buggy-amount {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.035em;

  color: #585858;
}

.text-area {
  width: 722px;
  background: rgb(0, 0, 0, 0.4);
  border-radius: 60px 0px;
  border: 1px solid #2fe212;
  color: #ffffff;
  letter-spacing: 0.035em;
  font-size: 20px;
  resize: none;
  padding: 25px;

  &:focus {
    border: 1px solid #2fe212;
    outline: none;
  }
}

.amount-error {
  color: #dc143c;
}
