@import '../../index.scss';

.landing {
  &__background-photo {
    background: no-repeat center/140% url('../../images/background.png');
    background-attachment: fixed;
  }

  &__dark-bg {
    background-color: rgba(0, 0, 0, 0.8);
  }

  &__top-button {
    font-family: $fontFamily;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: $colorText2;
    background: #151515;
    height: 60px;
    width: 100%;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    border: none;

    &:hover {
      background-color: rgba(0, 0, 0, 1);
    }
  }

  &__button-wrapper {
    display: flex;
    justify-content: center;

    .button {
      margin: 80px 0px;
      background: none;
      font-family: $fontFamily;
      color: $colorText;
      text-transform: uppercase;
      box-shadow: 0px 4px 8px 4px #2fe212;
      border-radius: 40px 0px;
      width: 60%;
      height: 38px;
      font-size: 20px;
      line-height: 23px;
      border: none;
      cursor: pointer;
      transition: all 0.15s ease-in-out;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }

  &__text-wrapper {
    background-color: rgba(9, 65, 0, 0.5);
  }

  &__text {
    font-family: $fontFamily;
    color: #f8f1f1;
    font-size: 20px;
    line-height: 30px;
    padding: 30px 170px;
  }

  &__images-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 150px;

    &-bg {
      position: absolute;
      background-color: rgba(9, 65, 0, 0.5);
      height: 265px;
      width: 100%;
      z-index: 1;
    }

    img {
      z-index: 2;
    }
  }
}

.green-line {
  opacity: 0.2;
  border: 1px solid #2fe212;
}

.green-line-2 {
  opacity: 0.2;
  border: 1px solid #2fe212;
  margin-top: -120px;
  padding-bottom: 130px;
}
